* {
  /* border: 0; */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: default;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

h2 {
  font-weight: 300;
}

body {
  margin-top: 50px;
  margin-bottom: 0px;
}

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.lite-shadow {
  -webkit-box-shadow: 0 0 10px 4px #ebebeb;
          box-shadow: 0 0 10px 4px #ebebeb;
}

.footer {
  padding-top: 150px;
}

.wrapper-menu {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-block {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 2px solid #2b2b2b;
  position: fixed;
  top: 0px;
  z-index: 50;
}

.menu-block-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.menu-block-first a:hover {
  color: red;
}

a.menu-proect:hover {
  color: red;
}

.menu-start {
  margin-left: 10px;
  width: 100px;
  font-weight: 500;
}

.menu-proect {
  margin-left: 5px;
  width: 80px;
  font-weight: 700;
}

.footer-block {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: #ffffff;
  border-top: 2px solid #2b2b2b;
}

.footer-block-inside1, .footer-block-inside2 {
  margin: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.icon-menu {
  padding: 20px;
  margin: 5px;
  margin-left: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.icon-menu:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.icon-user {
  padding: 20px;
  margin: 5px;
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: none;
}

.user-menu-reg, .user-menu-auth {
  margin-left: 10px;
}

.user-menu-reg:hover, .user-menu-auth:hover {
  color: red;
  cursor: pointer;
}

.hiden-menu {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.hiden-menu-user {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.proect:hover {
  color: red;
}

.centr-fox {
  width: 160px;
}

.fox {
  justify-items: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 570px) {
  .wrapper {
    margin: 0 auto;
  }
  .icon-user {
    display: block;
  }
  .user-menu-reg, .user-menu-auth {
    display: none;
  }
  .menu-start {
    display: none;
  }
  .menu-proect {
    display: none;
  }
  .footer-block-inside2 {
    font-size: 15px;
    margin-left: 60px;
  }
  .fox {
    margin: auto;
    margin-top: 5px;
  }
}
/*# sourceMappingURL=global.css.map */