// МИКСИН ЗАМЕНЫ URL иконок для хоста - заменить ссылку перед вставкой на хост
@mixin url($url){

   $url: 'https://do-my.ru/test/views/images/icon/'+$url;
//    $url: '/do-my/views/images/icon/'+$url;
   background: url($url) center center / cover no-repeat;   
}

@mixin urlcont($url){
       $url: 'https://do-my.ru/test/views/images/icon/'+$url;
    //    $url: '/do-my/views/images/icon/'+$url;
       background: url($url) center center / contain no-repeat;   
    }


//    Картинки хэдера и футера
.icon-menu {
    @include urlcont('logo.svg');
    transition: 0.01s;
}

.icon-menu:hover {
    @include url('aim.svg');
}

.icon-user {
    @include url('user.svg');
    
}
.icon-user:hover {
    @include url('user_hover.svg');
}

// картирнки стартовой страницы


// ЭТО НАЩ БОТ ЛИСЕНОК СПИТ

@keyframes fox_sleep {
    0% {opacity: 1;

    }
    50% {opacity: 0;;
    }
    
    100% {opacity: 1;
    }
}

.fox {
    @include url('fox_sleep.svg');
    position: relative
}

.fox::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 17px;
    top: 0px;
    left: 5px;
    @include urlcont('fox_ring_sleep.svg');
    animation: fox_sleep 10s infinite;
}

// КАРТИНКИ СТРАНИЦЫ ПРОЕКТА

.column2-image1 {
    @include url('keyhole.svg');
}

@keyframes aim {
    0% {opacity: 0;

    }
    
    100% {opacity: 1;
    }
}

.column2-image1-aim {
    @include url('aim.svg');
    animation: aim 5s 1;
}

.column2-image2 {
    @include url('IgorR.jpg');
}

.column2-image3 {
    @include url('Minakov.png');
}

.column2-image4 {
    @include url('Stas_Sap.jpg');
}

.column2-image5 {
    @include url('YraReshetov.png');
}

.column2-image6 {
    @include url('Tany_Lyb.jpg');
}

.column2-image7 {
    @include url('Vlad_Pal.jpg');
}

// картинки страницы опроса
.result-tru-question {
    @include urlcont('true_question.svg');
}

.result-false-question {
    @include urlcont('false_question.svg');
}

.result-loss-level {
    @include urlcont('loss_level.svg');
}

.result-pass-level1 {
    @include urlcont('pass_level_1.svg');
}

.result-pass-level2 {
    @include urlcont('pass_level_2.svg');
}

.result-pass-level3 {
    @include urlcont('pass_level_3.svg');
}

.result-victory {
    @include urlcont('victory.svg');
}

.present {
    @include urlcont('present.svg');
}

.present:hover {
    @include urlcont('present_red.svg');
}

.gift-block-present {
    background-color: blue;
    @include urlcont('present.svg');
    width: 70px;
    height: 70px;
}

.gift-block-present:hover {
    background-color: blue;
    @include urlcont('present_red.svg');
}

//картинки страницы thankks

.thanks-image {
    display: flex;
    margin-top: 20px;
    margin: 10px;
    height: 200px;
    @include urlcont('thanks.svg');
}

.thanks-image-problem {
    display: flex;
    margin-top: 20px;
    margin: 10px;
    height: 200px;
    @include urlcont('elephant.png');
}
