.start-h1 {
    margin-top: 30px;
    margin-left: 85px;
    font-size: 16px;
    // text-align: left;
    font-weight: 400;
}

.start-h2-conteiner {
    // border: 2px solid;
    position: relative;
    width: 360px;
    margin-top: 100px;
    // margin-right: 0%;
    margin-left: 20%;
    // font-size: 20px;
    // font-weight: 600;
   
}

.start-h2 {
    display: block;
    // position: relative;
    width: 360px;
    // margin-top: 100px;
    // margin-left: 25%;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    transition: 0.1s;
}

.start-h2:hover {
    padding: 2px;
    box-shadow: 0 0 10px rgba(228, 16, 16, 0.513);
    cursor: pointer;
}

.start-h2-ozenka {
    position: absolute;
    padding: 10px;
    bottom: -5px;
    right: -10%;
    background: url('../images/icon/krug.svg') center center / contain no-repeat; 
}



.start-ozenka {
    animation: rocket 1s ease forwards;
    display: none;
    text-align: left;
    width: 360px;
    position: absolute;
    top: 300px;
    right: -755px;
    font-size: 20px;
    font-weight: 600;
}

.start-planeta-img {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -20px;
    right: -80px;
    z-index: -1;
    background-color: #d8d8d8;
    border-radius: 50%;
}

.start-linia {
    // border: 2px solid;
    position: fixed;
    display: flex;
    left: 5%;
    right: 5%; 
    top: 0;
    bottom: 0;
    margin: auto;
    height: 400px;
    opacity: 1;
    // height: 50px;
    z-index: -2;
}

.house {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -20%;
    left: -180px;
    z-index: -1;
              
}

svg {
    width: 100%;
    height: 400px;
    z-index: -2;
}

.start-path {
    height: 1600px;
    width: 1600px;
    position: fixed;
    left: -180px;
    top: -380px;
    transform: rotate(30deg);
    z-index: -2;
}


.start-qustions-flex {
    position: absolute;
    max-width: 1200px;
    top: 80%;
    right: 15%;
    left: 15%;
    display: flex;
    justify-content: space-between;

}

.start-qustions-flex>div {
    width: 150px;
    height: 90px;
    margin-right: 10px; 
    font-size: 14px;
    position: relative;
}

.start-qustions-1 {
    display: none;
    width: 150px;
    // height: 90px;
    font-size: 16px;
    position: relative;
    left: 160px;
    bottom: -290px;
}

.start-qustions-flex-appendix-1 {
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    background: url("../images/icon/qustion1.svg") center center / contain no-repeat;
}

.start-qustions-flex-appendix-2 {
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    background: url("../images/icon/qustion2.svg") center center / contain no-repeat;
}

.start-qustions-flex-appendix-3 {
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    background: url("../images/icon/qustion3.svg") center center / contain no-repeat;
}

.start-main-block {
    max-width: 700px;
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}

.start-main-block-row-title{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #2b2b2b;
}

.start-main-block-title {
    color: blue;
    font-size: 20px;
    margin: 10px;
}

.start-main-block-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.start-main-block-icon {
    padding: 20px;
}

.start-main-block-h2 {
    color: rgb(26, 26, 26);
    font-size: 18px;
    margin: 15px;
}

.start-main-block div:nth-child(1),
.start-main-block div:nth-child(2) > h2,
.start-main-block div:nth-child(3) > h2 {
    font-weight: 600;
}



@keyframes rocket {
    0% {}
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {  transform: translate3d(-755px,-300px,0); 
            font-size: 20px;
            font-weight: 600;
            width: 360px;   
        }
}

@media (max-width: 570px) {
        .start-h1 {
            margin-top: 30px;
            margin-left: 0px;
            // font-size: 16px;
            // font-weight: 400;
        }

        .house {
            width: 80%;
            // height: 100px;
            position: absolute;
            top: -20%;
            left: -120px;
            z-index: -1;            
        }

        .start-planeta-img {
            width: 180px;
            height: 180px;
            position: absolute;
            bottom: -20px;
            right: -80px;
            z-index: -1;
            background-color: #d8d8d8;
            border-radius: 50%;
        }

        .start-h2-conteiner {
            // border: 2px solid;
            position: relative;
            width: 50%;
            margin-top: 100px;
            // margin-right: 0%;
            margin-left: 48%;
            // font-size: 20px;
            // font-weight: 600;
           
        }

        .start-h2 {
            display: block;
            // position: relative;
            width: 100%;
            // margin-top: 100px;
            // margin-left: 46%;
            font-size: 14px;
            font-weight: 600;
            text-align: left;
        }

        .start-ozenka {
            animation: rocket 1s ease forwards;
            display: none;
            text-align: left;
            width: 100%;
            position: absolute;
            top: 400px;
            right: -100px;
            font-size: 14px;
            font-weight: 600;
        }

        .start-h2-ozenka {
            position: absolute;
            padding: 10px;
            bottom: 0;
            right: -5%;
            background: url('../images/icon/krug.svg') center center / contain no-repeat; 
        }

        .start-qustions-1 {
            display: none;
            width: 140px;
            // height: 90px;
            font-size: 12px;
            position: relative;
            left: 30%;
            bottom: -120px;
        }
        
        .start-qustions-flex-appendix-1 {
            position: absolute;
            left: -30px;
            width: 20px;
            height: 20px;
            background: url("../images/icon/qustion1.svg") center center / contain no-repeat;
        }

        @keyframes rocket {
            0% {}
            10% {}
            20% {}
            30% {}
            40% {}
            50% {}
            60% {}
            70% {}
            80% {}
            90% {}
            100% {  transform: translate3d(-100px,-400px,0); 
                    font-size: 16px;
                    font-weight: 600;
                    // width: %;   
                }
        }
}