.start-h1 {
    text-align: center;
    font-size: 20px;
}

.start-main-block {
    max-width: 700px;
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}

.start-main-block-row-title{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #2b2b2b;
}

.start-main-block-title {
    color: blue;
    font-size: 20px;
    margin: 10px;
}

.start-main-block-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 70px;
    cursor: pointer;
}

.start-main-block-row:hover {
    box-shadow: 10px 0px 10px rgb(240, 240, 240);
}

.start-main-block-row:hover .start-main-block-h2 a{
    color: red;
}

.start-main-block-row:hover .start-main-block-h2:not(a){
    color: white;
}

.start-main-block-h2:after {
    content: "Извините, раздел в разработке.";
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.start-main-block-row:hover .start-main-block-h2:not(#done):after {
    display: block;
    color: red;
}



.start-main-block-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.start-main-block-h2 {
    position: relative;
    color: rgb(26, 26, 26);
    font-size: 18px;
    margin: 15px;
}

.start-main-block div:nth-child(1),
.start-main-block div:nth-child(2) > h2,
.start-main-block div:nth-child(3) > h2 {
    font-weight: 600;
}