.main {
  max-width: 1200px;
  margin: 50px auto;
}

table {
  min-width: 250px;
  max-width: 50%;
  margin: auto auto;
  border: thin solid black;
  caption-side: bottom;
  border-collapse: collapse;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

td, th {
  border: thin solid black;
  padding: 5px;
}

td {
  font-size: 80%;
}

#Q {
  background: lightskyblue;
}

#next {
  display: none;
  opacity: 0;
  text-align: center;
  background: gold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

table.prev_next {
  border-collapse: separate;
  border-spacing: 70px 0;
  border: none;
}

.prev_next {
  margin-top: 10px;
}

#prev:hover, #next:hover {
  background: #c3e5fa;
  cursor: pointer;
}

.left {
  text-align: left;
  cursor: context-menu;
}

.right {
  text-align: right;
  width: 20px;
}

#button {
  margin: 0 auto;
  margin-top: 10px;
  width: 250px;
  border: 2px solid;
  background: gold;
  text-align: center;
}

#button:hover {
  cursor: pointer;
}

.slider-box-main {
  display: none;
  max-width: 50%;
  min-width: 250px;
  margin: auto;
  margin-top: 100px;
}

.slider-box-level {
  height: 45px;
  max-width: 50%;
  margin-left: 15px;
}

.slider-level {
  width: 120px;
  height: 35px;
}

.step-level {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 100%;
  text-align: center;
  line-height: 210%;
}

.slider-box-survey-arround {
  height: 20px;
  max-width: 100%;
  min-width: 250px;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-box-survey {
  height: 20px;
  width: 100%;
  overflow: hidden;
}

.slider-box-survey-before {
  height: 15px;
  width: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 30px;
  top: 0;
  cursor: pointer;
}

.slider-box-survey-before:hover {
  border-color: red;
}

.slider-box-survey-before:active + div + div > div {
  margin-left: -1200px;
}

.slider-box-survey-after {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: 15px;
  width: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  left: 430px;
  top: 0;
  cursor: pointer;
}

.slider-box-survey-after:hover {
  border-color: red;
}

.slider-box-survey-after:active + div > div {
  margin-left: 1200px;
}

.slider-survey {
  width: 120px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 10s all;
  transition: 10s all;
}

.step-survey {
  display: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 100%;
}

#dark {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: dimgray;
  opacity: 0.7;
  display: none;
}

#result {
  background-color: white;
  font-weight: 300;
  padding: 20px;
  border: 2px solid #363636;
  width: 600px;
  height: 450px;
  position: fixed;
  border-radius: 25px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  font-size: 20px;
  display: none;
}

#forward {
  cursor: pointer;
}

#true, #false {
  display: none;
}

#image_true, #image_false {
  display: none;
  height: 200px;
  width: 200px;
}
/*# sourceMappingURL=survey.css.map */