.main {
    max-width: 1200px;
    margin: 50px auto;
    overflow: hidden;
}

table {
    min-width: 330px;
    width: 50%;
    margin: auto auto;
    // border: thin solid black;
    caption-side: bottom;
    border-collapse: collapse;
    opacity: 0;
    transition: 0.5s;
}

tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

tr {
    display: flex;
    width: 100%;
}

th {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 20px;
}

td {
    font-size: 100%;
    padding: 10px;
}

// прорисовка чекбокса


input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

// .addpsev {
//     position: relative;
// }

// .addpsev:before {
//     content: "";
//     position: absolute;
// }

// .addpsev:after {
//     content: "";
//     position: absolute;
// }


.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 24%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    box-shadow: 0 0 4px rgb(187, 187, 187);
    position: relative;
}

.checkbox:after {
    content: "";
    width: 18px;
    height: 13px;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    left: 0px;
    top: -7px;
    position: absolute;
    transform: rotate(-45deg);
    transition: 1s all;
    opacity: 0;
}

.level1:after {
    border-color:  yellow;
    border-color:  yellow;
}

.level2:after {
    border-color:  blue;
    border-color:  blue;
}

.level3:after {
    border-color:  red;
    border-color: red;
}

[type=checkbox]:checked ~ .checkbox::after {
    opacity: 1;
}

.radio {
    width: 16px;
    height: 16px;
    border: 2px solid rgb(102, 102, 102);
    border-radius: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    box-shadow: 0 0 4px rgb(187, 187, 187);
    position: relative;
}

.radio:before {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 100%;
    background-color: blue;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    transition: 0.5s all;
}

.level1:before {
    background-color: yellow;
}

.level2:before {
    background-color: blue;
}

.level3:before {
    background-color: red;
}

[type=radio]:checked ~ .radio:before {
    width: 14px;
    height: 14px;
}


.opros {
    display: none;

}

#Q {
    border-bottom: thin solid black;
    // background: lightskyblue;
}

#next {
    display: none;
    opacity: 0;
    text-align: center;
    background: gold;
    transition: 0.5s;
}

table.prev_next {
    border-collapse: separate;
    border-spacing: 70px 0;
    border: none;
}

.prev_next {
    margin-top: 10px;
    
}

#prev:hover, #next:hover {
    background: rgb(195, 229, 250);
    cursor: pointer;
}


.left {
    text-align: left;
    cursor: context-menu
}

.right {
    // display: flex;
    // align-items: center;
    text-align: center;
    width: 20px;
}

.title {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    text-align: center;
    font-size: 20px; 
}

.button {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 250px;
    height: 250px;
    background: yellow;
    box-shadow: 0 0 20px rgb(187, 187, 187);
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}
.button:before {
    content: "";
    position: absolute;
    height: 50px;
    width: 350px;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    // z-index: 99;
    left: -62px;
    top: 85px;
    border: 15px solid yellow;
    font-size: 25px; 
    transition: 1s all;
}

.button:after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 600px;
    width: 900px;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    border-left: 20px solid white;
    border-top: 20px solid yellow;
    border-right: 20px solid white;
    transform: rotate(-10deg);
}

.play1:before {
    content: "Начать игру";
}

.play2:before {
    content: "Продолжить игру";
    font-size: 23px;
}

.play3:before {
    content: "Повторить игру";
    font-size: 23px;
}


#button:hover:before {
    transform: rotate(33deg);
}


// слайдер и доска результатов

.board {
    display: none;
    width: 100%;
    justify-content: space-between;
}

.board-left {
    width: 200px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: start;
}

.result1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: yellow;
    box-shadow: 0 0 10px rgb(187, 187, 187);
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.result1:hover, .result2:hover  {
    color: red;
}

.result2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color:blue;
    box-shadow: 0 0 10px rgb(44, 44, 44);;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    color: white;
    margin-right: 10px;
}


.board-right {
    width: 200px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: end;
}

.slider-box-main{
    display: block;
    max-width: 600px;
    min-width: 250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider-box-level {
    height: 54px;
    max-width: 100%;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.slider-level {
    width: 54px;
    height: 54px;
    opacity: 0;
}

.slider-level-fovard {
    width: 100px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-level{
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid yellow;
    box-shadow: 0 0 20px rgb(187, 187, 187);
    border-radius: 100%;
    text-align: center;
    line-height: 261%;
    font-size: 20px;
    position: relative;
    transition: 2s all;

}

.step-level:before {
    content: 'Easy';
    font-size: 16px;
    top: -44px;
    right: 8px;
    color: rgb(99, 99, 99);
    position: absolute;
    z-index: -1;
    transition: 2s all;
}

.step-level:hover:before {
    transform: rotate(360deg);
}

.step-level:hover {
    transform: rotate(360deg);
}


.step-level2{
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    box-shadow: 0 0 20px rgb(187, 187, 187);
    border-radius: 100%;
    text-align: center;
    line-height: 218%;
    font-size: 20px;
    position: relative;
    transition: 2s all;
}

.step-level2:before {
    content: 'Medium';
    font-size: 12px;
    top: -35px;
    right: -2px;
    color: rgb(99, 99, 99);
    position: absolute;
}

@keyframes step-level {
    0% {transform: scaleX(1);

    }
    
    50% {transform: scaleX(-1);
    }

    100% {transform: scaleX(1);
    }
}

.step-level2:hover:before {
    animation: step-level 3s infinite;
}

.step-level3{
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid red;
    box-shadow: 0 0 20px rgb(187, 187, 187);
    border-radius: 100%;
    text-align: center;
    line-height: 218%;
    font-size: 20px;
    position: relative;
}

.step-level3:before {
    content: 'Hard';
    font-size: 12px;
    top: -35px;
    right: 7px;
    color: rgb(99, 99, 99);
    position: absolute;
}

.step-level3:hover:before {
    animation: step-level 3s infinite;
}


.slider-box-survey-arround {
    height: 20px;
    max-width: 100%;
    min-width: 250px;
    margin: auto;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-box-survey {
    height: 35px;
    width: 500px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.slider-box-survey-before {
    height: 15px;
    min-width: 15px;
    border-bottom: 1px solid rgb(99, 99, 99);
    border-left: 1px solid rgb(99, 99, 99);
    transform: rotate(45deg);
    top: 0;
    cursor: pointer;
}

.slider-box-survey-before:hover {
    border-color: red;
}

// .slider-box-survey-before:active + div + div > div {
//     margin-left: -2700px;
// }

.slider-box-survey-after {
    order: 3;
    height: 15px;
    min-width: 15px;
    border-bottom: 1px solid rgb(99, 99, 99);
    border-left: 1px solid rgb(99, 99, 99);
    transform: rotate(225deg);
    top: 0;
    cursor: pointer;
}

.slider-box-survey-after:hover {
    border-color: red;
}

// .slider-box-survey-after:active + div > div {
//     margin-left: 2700px;
// }
    
.slider-survey {
    width: 2200px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: start;
    // transition: 10s all;
    margin-left: 5px;
}

.step-survey{
    display: none;
    // position: relative;
    width: 15px;
    height: 15px;
    border: 3px solid black;
    border-radius: 100%;
    margin-right: 30px;
    box-shadow: 0 0 5px rgb(187, 187, 187);
}

.step-survey:hover{
    box-shadow: 0 0 10px rgb(134, 134, 134);
}


// окно овтетов

#dark {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: dimgray;
    opacity: 0.7;
    display: none;
}

#result {
    background-color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 20px;
    border: 2px solid rgb(54, 54, 54);
    width: 600px;
    height: 450px;
    position: fixed;
    border-radius: 25px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    font-size: 20px;
    display: none;
}

#forward {
    cursor: pointer;
}


#true, #false {
    display: none;
}

#image_true, #image_false {
    display: none;
    height: 200px;
    width: 200px;
}


@media (max-width: 570px) {
   
    .title {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 200px;
        font-size: 18px; 
    }

    .button {
        margin-top: 50px;
        margin-bottom: 200px;
        width: 170px;
        height: 170px;
        box-shadow: 0 0 20px rgb(187, 187, 187);
    }

    .button:before {
        height: 35px;
        width: 240px;
        line-height: 1.5;
        left: -50px;
        top: 55px;
        border: 15px solid yellow;
        font-size: 25px; 
    }
    
    .button:after {
        height: 600px;
        width: 900px;
        border-radius: 50%;
        left: 0px;
        top: -85px;
        border-left: 20px solid white;
        border-top: 20px solid yellow;
        border-right: 20px solid white;
        transform: rotate(-5deg);
    }

    .play2:before {
        content: "Продолжить игру";
        font-size: 20px;
    }
    
    .play3:before {
        content: "Повторить игру";
        font-size: 20px;
    }

    .result1 {
        display: none;
    }
    
    .result2 {
        display: none;
    }

}