.main {
    max-width: 1200px;
    margin: 50px auto;
}

table {
    min-width: 250px;
    max-width: 50%;
    margin: auto auto;
    border: thin solid black;
    caption-side: bottom;
    border-collapse: collapse;
    opacity: 0;
    transition: 0.5s;
}

td, th {
    border: thin solid black;
    padding: 5px;
}

td {
    font-size: 80%;
}

// .opros {
//     margin-top: 50px;
// }

#Q {
    background: lightskyblue;
}

#next {
    display: none;
    opacity: 0;
    text-align: center;
    background: gold;
    transition: 0.5s;
}

table.prev_next {
    border-collapse: separate;
    border-spacing: 70px 0;
    border: none;
}

.prev_next {
    margin-top: 10px;
    
}

#prev:hover, #next:hover {
    background: rgb(195, 229, 250);
    cursor: pointer;
}


.left {
    text-align: left;
}

.right {
    text-align: right;
    width: 20px;
}

#button {
    margin: 0 auto;
    margin-top: 10px;
    width: 250px;
    border: 2px solid;
    background: gold;
    text-align: center
}

#button:hover {
    cursor: pointer;
}

#result {
    display: none;
    position: fixed;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: thin solid black;
    background: white;
    opacity: 1;
    transition: 0.5s;
    z-index: 99;
}

#forward {
    border: thin solid black;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#why {
    border: thin solid black;
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
}
#img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

// #Qst {
//     margin-top: 100px;
//     margin-left: 50px;
//     display: inline-block;
//     width: 38%;
//     // float: left;
//     border: 2px solid;
// }

// #Asw {
//     display: inline-block;
//     margin-left: 50px;
//     border: 2px solid;
//     width: 38%
// }

// слайдер
.slider-box-survey-arround {
    height: 20px;
    width: 440px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-box-survey {
    border: thin solid black;
    height: 20px;
    width: 400px;
    overflow: hidden;
}

.slider-box-survey-before {
    height: 15px;
    width: 15px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(45deg);
    right: 30px;
    top: 0;
    cursor: pointer;
}

.slider-box-survey-before:hover {
    border-color: red;
}

.slider-box-survey-before:active + div + div > div {
    margin-left: -1200px;
}

.slider-box-survey-after {
    order: 3;
    height: 15px;
    width: 15px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(225deg);
    left: 430px;
    top: 0;
    cursor: pointer;
}

.slider-box-survey-after:hover {
    border-color: red;
}

.slider-box-survey-after:active + div > div {
    margin-left: 1200px;
}
    
.slider-survey {
    width: 1200px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 10s all;
}

.step-survey{
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 100%;
}