.main {
    max-width: 1200px;
    margin: 50px auto;
}

table {
    min-width: 250px;
    max-width: 50%;
    margin: auto auto;
    border: thin solid black;
    caption-side: bottom;
    border-collapse: collapse;
}

td, th {
    border: thin solid black;
    padding: 5px;
}

// .opros {
//     margin-top: 50px;
// }

.prev_next {
    margin-top: 10px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#button {
    margin: 0 auto;
    margin-top: 10px;
    width: 250px;
    border: 2px solid;
    background: gold;
    text-align: center
}

#button:hover {
    cursor: pointer;
}


// #Qst {
//     margin-top: 100px;
//     margin-left: 50px;
//     display: inline-block;
//     width: 38%;
//     // float: left;
//     border: 2px solid;
// }

// #Asw {
//     display: inline-block;
//     margin-left: 50px;
//     border: 2px solid;
//     width: 38%
// }

